<div class="container">
  <div class="content">
    <div class="left-side">
      <div class="address details">
        <i class="fas fa-map-marker-alt"></i>
        <div class="topic">Address</div>
        <div class="text-one">safenepal.iof@gmail.com</div>

        <div class="phone details">
          <a href="tel:9841119798"> <i class="fas fa-phone-alt"></i></a>

          <div class="topic">Phone</div>
          <div class="text-one">+0098 9893 5647</div>
        </div>

        <div class="email details">
          <a href="mailto: safenepal.iof@gmail.com"></a>
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-two">safenepal.iof@gmail.com</div>
        </div>
      </div>
    </div>
    <div class="right-side">
      <div class="topic-text">Send us a message</div>
      <p>
        If you have any tasks for me or any queries related to our environmental
        initiatives, feel free to send me a message here. I'm more than happy to
        assist you and contribute to our shared mission for a greener and
        sustainable future.
      </p>
      <form action="#">
        <div class="input-box">
          <input type="text" placeholder="Enter your name" />
        </div>
        <div class="input-box">
          <input type="text" placeholder="Enter your email" />
        </div>
        <div class="input-box message-box">
          <textarea
            name=""
            id=""
            cols="30"
            rows="10"
            placeholder="Enter Your Message"
          ></textarea>
        </div>
        <div class="button">
          <input type="button" value="Send Now" />
        </div>
      </form>
    </div>
  </div>
</div>
