.logo {
  width: 50px;
}

.active-menuItem {
  color: #fff !important;
}

.active-link {
  background-color: #3cc88f;
  color: #fff !important;
}

@media screen and (max-width: 810px) {
  .mobile-menu {
    z-index: 10;
    background-color: white;
    width: 100%;
  }

  .mobile-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }
}
.header-top-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.top-header-text{
font-size: 16px;
line-height: 24px;
color: green;
}
@media screen and (max-width: 572px) {
  .mobile-menu {
    z-index: 10;
    background-color: white;
    width: 100%;
  }

  .mobile-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }
}
