<header class="continer-fluid">
  <div class="header-top">
    <div class="container">
      <div class="row col-det">
        <div class="header-top-wrapper">
          <ul class="ulleft">
            <p class="top-header-text">Students' Association for Forest and Environemnt</p>
          </ul>

          <ul class="ulright">
            <li>
              <a href="https://www.facebook.com/safenepal.iof/">
                <i class="fab fa-facebook-square"> </i
              ></a>
            </li>
            <li>
              <a href="https://www.instagram.com/safe.nepal/">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- <div class="col-lg-3 d-none d-md-block col-md-6 btn-bhed">
          <button class="btn btn-sm btn-success">Join Us</button>
          <button class="btn btn-sm btn-default">Donate</button>
        </div> -->
      </div>
    </div>
  </div>
  <div id="menu-jk" class="header-bottom">
    <div class="container">
      <div class="row nav-row">
        <div class="mobile-header">
          <a routerLink="home">
            <img class="logo" src="assets/images/logo.svg" alt="" />
          </a>
          <a class="" (click)="toggleMenu()"
            ><i class="fas d-block d-lg-none small-menu fa-bars"></i
          ></a>
        </div>

        <div id="menu" class="col-lg-9 col-md-12 d-none d-lg-block nav-col">
          <ul class="navbad" *ngFor="let list of navList">
            <li class="nav-item" routerLinkActive="active-menuItem">
              <a
                class="nav-link"
                routerLink="{{ list.navLink }}"
                routerLinkActive="active-link"
                >{{ list.NavName }}</a
              >
            </li>
          </ul>
        </div>
        <div *ngIf="isMenuOpen" class="mobile-menu">
          <div id="menu" class="col-lg-9 col-md-12 d-lg-block nav-col">
            <ul class="navbad" *ngFor="let list of navList">
              <li
                class="nav-item"
                routerLinkActive="active-menuItem"
                (click)="closeMenu()"
              >
                <a
                  class="nav-link"
                  routerLink="{{ list.navLink }}"
                  routerLinkActive="active-link"
                  >{{ list.NavName }}</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
