<header class="continer-fluid">
  <div class="header-top">
    <div class="container">
      <div class="row col-det">
        <div class="col-lg-6 d-none d-lg-block">
          <ul class="ulleft">
            <li>
              <i class="fas fa-phone-volume"></i>
              Pokhara- 15, Kaski, Nepal
            </li>
            <li>
              <i class="far fa-envelope"></i>
              <a href="mailto:safenepal.iof@gmail.com">
                safenepal.iof@gmail.com</a
              >
            </li>
            <li>
              <i class="fas fa-phone-volume"></i>
              <a href="tel:+977 9841119798">9841119798</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 folouws">
          <ul class="ulright">
            <li><small>Folow Us </small>:</li>
            <li>
              <i class="fab fa-facebook-square"></i>
            </li>
            <li>
              <i class="fab fa-instagram"></i>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 d-none d-md-block col-md-6 btn-bhed">
          <button class="btn btn-sm btn-success">Join Us</button>
          <button class="btn btn-sm btn-default">Donate</button>
        </div>
      </div>
    </div>
  </div>
  <div id="menu-jk" class="header-bottom">
    <div class="container">
      <div class="row nav-row">
        <div class="col-lg-3 col-md-12 logo">
          <a href="index.html">
            <img src="assets/images/logo.jpg" alt="" />
            <a data-toggle="collapse" data-target="#menu" href="#menu"
              ><i class="fas d-block d-lg-none small-menu fa-bars"></i
            ></a>
          </a>
        </div>
        <div id="menu" class="col-lg-9 col-md-12 d-none d-lg-block nav-col">
          <ul class="navbad" *ngFor="let list of navList">
            <li class="nav-item">
              <a class="nav-link" routerLink="{{ list.navLink }}">{{
                list.NavName
              }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
