<section id="team" class="team section-bg">
  <div class="container">
    <div class="section-title">
      <h2>Team</h2>
      <div class="underline"></div>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati,
        ducimus.
      </p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="member d-flex align-items-start">
          <div class="teampic">
            <img
              src="https://media.licdn.com/dms/image/C5603AQFrJVV_2K5pAw/profile-displayphoto-shrink_200_200/0/1642346810288?e=1695859200&v=beta&t=o4HShOAWm9jlbyjIea4ZLwgj3nraZpZ5BCuylyWZOkA"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="member-info">
            <h4>Hemant Basnet</h4>
            <span>Full Stack Developer</span>
            <div class="social">
              <a href="https://www.linkedin.com/in/hemant-basnet-5ba657227/"
                ><i class="bi bi-linkedin"></i
              ></a>
              <a href="https://github.com/hemantbas09"
                ><i class="bi bi-github"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4 mt-lg-0">
        <div class="member d-flex align-items-start">
          <div class="teampic">
            <img src="assets/images/team/prabin.jpg" class="img-fluid" alt="" />
          </div>
          <div class="member-info">
            <h4>Prabin Thapa Magar</h4>
            <span>DevOps</span>
            <div class="social">
              <a href="https://www.linkedin.com/in/prabinay/"
                ><i class="bi bi-linkedin"></i
              ></a>
              <a href="https://www.prabintm.com.np/"
                ><i class="bi bi-browser-chrome"></i
              ></a>
              <a href="https://github.com/prabinay/"
                ><i class="bi bi-github"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start">
          <div class="teampic">
            <img src="assets/images/team/rosan.jpg" class="img-fluid" alt="" />
          </div>
          <div class="member-info">
            <h4>Roshan Shrestha</h4>
            <span>Designer</span>
            <div class="social">
              <a href="https://www.linkedin.com/in/roshan-shrestha-37a890199/"
                ><i class="bi bi-linkedin"></i
              ></a>
              <a href="https://github.com/roxen-creator"
                ><i class="bi bi-github"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start">
          <div class="teampic">
            <img src="assets/images/team/arjun.JPG" class="img-fluid" alt="" />
          </div>
          <div class="member-info">
            <h4>Arjun Sitoula</h4>
            <span>Project Manager</span>
            <div class="social">
              <a href="https://www.facebook.com/arjun.sitoula.90"
                ><i class="bi bi-facebook"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-title">
      <h2 style="margin-top: 30px">Special Thanks</h2>
      <div class="underline"></div>
      <div class="mt-4">
        <div class="member d-flex align-items-center">
          <div class="teampic">
            <img
              src="assets/images/team/rosankc.jpeg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="member-info">
            <h4>Roshan KC</h4>
            <span>Virinchi College Coordinator</span>
            <div class="social">
              <a href="https://www.linkedin.com/in/roshan-kc/"
                ><i class="bi bi-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-title">
      <h2 style="margin-top: 30px">Thanks Virinchi College</h2>
      <div class="underline"></div>
      <p>
        🤝 We are part of a project that is dedicated to helping others as a
        social responsibility. Our primary aim is not to seek profit but to make
        a positive impact in the lives of people within our community. 💖 We
        extend our heartfelt gratitude to Coordinator Roshan Kc, who plays a
        crucial role in coordinating and managing all aspects of the project.
        Their efforts and dedication are truly commendable. 🙏 Furthermore, we
        would like to express our sincere appreciation to Virinchi College for
        their unwavering support in our endeavor. Their partnership and
        assistance have been instrumental in making this project possible. 👥 As
        a united team, we are determined to bring about meaningful and positive
        changes in our community. Our collective efforts aim to create a
        brighter and better future for everyone involved. 🌞 We strongly believe
        that together, we can make a significant difference and contribute to a
        happier and more harmonious society. 🌟🌍
      </p>
      <img
        src="https://www.virinchicollege.edu.np/storage/page/1679565471.png"
        alt=""
      />
    </div>
  </div>
</section>
