<section class="events">
  <div class="container">
    <div class="session-title row">
      <h2>Our Works</h2>
      <p class="paragraph-text">
        "Protecting the environment and empowering children for a sustainable
        future."
      </p>
    </div>
    <div class="event-ro row">
      <div class="col-md-4 col-sm-6" *ngFor="let project of projectDetails">
        <div class="event-box grid-item">
          <div class="project-image-container">
            <img class="project-image" [src]="project.image" alt="" />
          </div>
          <h4>{{ project.title }}</h4>

          <!-- <p class="raises"><span>Raised : $34,425</span> / $500,000</p> -->
          <p class="paragraph-text">
            {{ project.aboutWork }}
          </p>
          <!-- <button class="btn btn-success btn-sm">Show More</button> -->
        </div>
      </div>
    </div>
  </div>
</section>
