<div class="carousel-container slider-container">
  <img
    class="slider-image"
    [src]="slides[currentSlideIndex].image"
    alt="Carousel Slide"
  />
  <div class="carousel-buttons">
    <button class="previous-btn" (click)="previousSlide()">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
    </button>
    <button class="next-btn" (click)="nextSlide()">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </button>
  </div>
</div>

<section class="container-fluid mission-vision">
  <div class="container">
    <div class="row mission">
      <div class="col-md-6 mv-det">
        <h1>Our Mission</h1>
        <p class="paragraph-text">
          "Our mission is clear: we are dedicated to protecting and preserving
          the environment for the sake of future generations. We promote
          sustainable practices and work to conserve our precious natural
          resources. Through education, community involvement, and partnerships,
          we strive to create a greener world where all living beings can thrive
          together in harmony with nature. Our goal is to leave a positive and
          lasting impact, ensuring a brighter, more sustainable future for
          everyone."
        </p>
      </div>
      <div class="col-md-6 mv-img">
        <img src="assets/images/misin.jpg" alt="" />
      </div>
    </div>
    <div class="row vision ">
      <div class="col-md-6 mv-img">
        <img src="assets/images/vision.jpg" alt="" />
      </div>
      <div class="col-md-6 mv-det">
        <h1>Our Vision</h1>
        <p class="paragraph-text">
          "Our vision is a thriving world, where nature flourishes, and
          individuals embrace their role as Earth's stewards. We imagine
          pristine ecosystems brimming with biodiversity, sustaining life
          through clean air, pure water, and fertile soil. Through global
          cooperation and collective action, humanity harmoniously coexists with
          nature, safeguarding the environment for future generations. We aim to
          leave a legacy of environmental preservation and sustainable
          practices, uniting in a shared mission to create a greener, healthier
          planet for all living beings."
        </p>
      </div>
    </div>
  </div>
</section>

<div class="doctor-message">
  <div class="inner-lay">
    <div class="container">
      <div class="row session-title">
        <h2>"Our Achievements"</h2>
        <p class="paragraph-text">
          🌿 4+ Years of Experience: With over four years of dedicated work, our
          environmental NGO has been at the forefront of protecting and
          preserving our planet, addressing critical environmental challenges.
        </p>
      </div>
    </div>
  </div>
</div>

<app-team></app-team>
