<div class="about-us container-fluid">
  <div class="container">
    <div class="row natur-row no-margin w-100">
      <div class=" col-md-6">
        <h2>About Our Charity</h2>
        <p class="paragraph-text">
          Hello and welcome to Safe Nepal 🌿🌍! Our main goal is to take care of
          the environment so that we can have a good future. We love nature and
          want to protect all the different plants and animals in Nepal 🌱. This
          includes everything from the tall mountains like the Himalayas to the
          rivers and forests. We work hard to make sure there are lots of
          different living things in Nepal, and we also take action to fight
          against climate change. Our focus is on making sure things are
          balanced and can last for a long time, which is called sustainability.
          We do some really cool things to make a positive impact. For example,
          we plant lots of trees 🌳, and we also tell people about the
          importance of taking care of our environment. But we can't do it
          alone! We need your help too. Together, we can build a better and
          greener future for everyone. So, join us on this exciting journey!
          Let's work together to protect Nepal and empower a brighter future
          💚🤝. Together, we can make a big difference in the world!
        </p>
      </div>
      <div class="image-part col-md-6">
        <div class="about-quick-box row">
          <div class="col-md-6">
            <div class="about-qcard">
              <i class="fas fa-user"></i>
              <p>Become a Volunteer</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="about-qcard">
              <i class="fas fa-search-dollar red"></i>
              <p>Quick Fundraise</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="about-qcard">
              <i class="fas fa-donate yell"></i>
              <p>Give Donation</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="about-qcard">
              <i class="fas fa-hands-helping blu"></i>
              <p>Help Someone</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
