<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <h2>About Us</h2>
        <p class="paragraph-text">
          Welcome to Safe Nepal 🌿🌍! Our mission: Protecting the environment
          for a sustainable future. Passionate about conservation, we preserve
          Nepal's diverse ecosystems 🌱. From the Himalayas to the rivers and
          forests, we focus on biodiversity, climate action, and sustainability.
          With impactful initiatives like tree planting 🌳 and awareness
          campaigns, we make a difference in communities. Together, we create a
          greener legacy for all. Join us on this transformative journey!
          Safeguard Nepal, empower the future 💚🤝. Let's make a world of
          difference!
        </p>
      </div>
      <div class="col-md-4 col-sm-12">
        <h2>Useful Links</h2>
        <ul class="list-unstyled link-list" *ngFor="let list of navList">
          <li>
            <a ui-sref="about" routerLink="{{ list.navLink }}">{{
              list.NavName
            }}</a
            ><i class="fa fa-angle-right"></i>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-12 map-img">
        <h2>Contact Us</h2>
        <address class="md-margin-bottom-40">
          Safe Nepal<br />
          Pokhara- 15, Kaski, Nepal <br />
          Phone: +977 9841119798 <br />
          Email:
          <a href="mailto: safenepal.iof@gmail.com" class="">
            safenepal.iof@gmail.com</a
          ><br />
        </address>
      </div>
    </div>
  </div>
</footer>
<div class="copy">
  <div class="container">
    <a routerLink="contribution"
      >2023 &copy; All Rights Reserved | Designed and Developed by Green
      Initiatives</a
    >
  </div>
</div>
