<section class="events">
  <div class="container">
    <div class="session-title row">
      <h2>Blogs</h2>
      <p class="paragraph-text">
        "Empowering children for a sustainable future through environmental
        education and awareness."
      </p>
    </div>
    <div class="event-ro row">
      <div class="col-md-6 col-sm-6" *ngFor="let project of projectDetails">
        <div class="event-box grid-item">
          <img src="assets/images/events/image_08.jpg" alt="" />
          <h4>{{ project.title }}</h4>

          <!-- <p class="raises"><span>Raised : $34,425</span> / $500,000</p> -->
          <p class="paragraph-text">
            {{ project.aboutWork }}
          </p>
          <!-- <button class="btn btn-success btn-sm">Show More</button> -->
        </div>
      </div>
    </div>
  </div>
</section>
